# Ignore everything
*

# But not these files.
!setup.sh
!.p10k.zsh
!.gitignore
!.gitconfig
!.zshrc
!.zprofile
!.zsh_functions
!.gitignore_global
!.gitattributes_global
!.vimrc
!README.md

# And those folders.
!/.prefs/
!/.prefs/**
!bash/
!bash/**
!.github/
!.github/**

# Ignore so we won't commit these in the allowed dirctories.
.DS_Store
